<!-------------Home start------------------>
<div fxLayout="column" fxLayoutGap="15px" class="{{listClass}}">
  <div *ngIf="showHeading">
    <h3>All {{label || resource}}</h3>
  </div>

  <ng-template #noData>
    <ng-container *ngIf="!loading">

        <ng-container *ngIf="searchItem && noSearchResultTemplate">
          <ng-template  [ngTemplateOutletContext]="{selection: selection, onDeletion: onDelete}"
                        [ngTemplateOutlet]="noSearchResultTemplate">
          </ng-template>
        </ng-container>

        <ng-container *ngIf="!searchItem || !noSearchResultTemplate">
          <ng-container *ngIf="noDataTemplate; else noDataTemplateDefault">
            <ng-template [ngTemplateOutletContext]="{selection: selection, onDeletion: onDelete}"
                         [ngTemplateOutlet]="noDataTemplate">
            </ng-template>
          </ng-container>
        </ng-container>
        <ng-template #noDataTemplateDefault>
          <div>
            <div>No {{resource}} found</div>
            <ng-template [ngTemplateOutlet]="createNewBlock"></ng-template>
          </div>
        </ng-template>
    </ng-container>
  </ng-template>

  <div *ngIf="showHeader && (searchItem || products.length > 0 )" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px">
    <div *ngIf="filters.length > 0">
      <gomco-formly-form label="Search" formlyFxFlex="content" [model]="params" formClass="w-full" formHeight="36px"
                         fxLayoutGapForm="10px" class="my-form-field" fxLayoutDir="row" [fields]="filters"
                         [submitCallback]="onSubmit"></gomco-formly-form>
    </div>

    <!--add orders to track-->
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px" fxHide.sm fxHide.xs>

      <button mat-button (click)="getList()" type="button" matTooltip="Refresh">
        <span class="material-icons">refresh</span>
      </button>

      <ng-template [ngTemplateOutlet]="createNewBlock"></ng-template>


      <!--        <div-->
      <!--          class="border rounded-full bg-card py-2 ltr:pl-6 rtl:pr-6 ltr:pr-3 rtl:pl-3 text-secondary max-w-xl mx-auto shadow-8"-->
      <!--          fxLayout="row"-->
      <!--          fxLayoutAlign="start center">-->

      <!--          <input class="border-0 ltr:ml-4 rtl:mr-4 placeholder:text-secondary subheading-2 outline-none font-medium w-0 bg-card"-->
      <!--                 fxFlex="auto"-->
      <!--                 placeholder="Search for answers..."-->
      <!--                 type="text">-->
      <!--          <ic-icon [icon]="icSearch" fxFlex="none" size="24px"></ic-icon>-->
      <!--        </div>-->


      <!--<button [matMenuTriggerFor]="columnFilterMenu"
              mat-button
              matTooltip="Filter Columns"
              type="button">
        <span class="material-icons">filter_alt</span>
      </button>-->
    </div>
  </div>

  <gomco-rect-loading *ngIf="loading;"></gomco-rect-loading>

  <ng-container *ngIf="(products.length > 0) && !loading; else noData">
    <mat-card *ngIf="(batchActions?.length > 0 || batchActionsTemplate ) && (rowTemplate || selection.hasValue())">

      <mat-checkbox *ngIf="rowTemplate" (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">

        <ng-container *ngIf="isAllSelected()">
          <button disabled mat-button color="primary">Unselect All</button>
        </ng-container>
        <ng-container *ngIf="!isAllSelected()">
          <button disabled mat-button color="primary">Select All</button>
        </ng-container>
      </mat-checkbox>

      <ng-container *ngIf="selection.hasValue()">
        <ng-container *ngFor="let batchAction of batchActions">
          <ng-container [ngSwitch]="batchAction.type">
            <gomco-bulk-delete-button *ngSwitchCase="'delete'" [selected]="selection.selected" [resource]="resource"
                                      (deleted)="clearSelectionAndRefresh()"></gomco-bulk-delete-button>
          </ng-container>
        </ng-container>

        <ng-template [ngIf]="batchActionsTemplate" [ngTemplateOutletContext]="{bulkPost: bulkPost}"
                     [ngTemplateOutlet]="batchActionsTemplate">
        </ng-template>
      </ng-container>
    </mat-card>
    <ng-container *ngIf="products.length > 0">
      <ng-container *ngIf="rowTemplate; else grid">
        <ng-template
          [ngTemplateOutletContext]="{row: row, index: i, selection: selection, onDeletion: onDelete, updateRowConst: updateRowConst}"
          [ngTemplateOutlet]="rowTemplate"
          *ngFor="let row of products | paginate: { itemsPerPage: params.perPage, currentPage: params.page, totalItems: total }; let i=index;">
        </ng-template>
        <gomco-pagination-controls *ngIf="showNavigation" (pageChange)="nextPage($event)"
                                   (pageBoundsCorrection)="nextPage($event)" [autoHide]="true">
        </gomco-pagination-controls>
      </ng-container>
    </ng-container>

  </ng-container>

  <ng-template #grid>
    <table (matSortChange)="sortData($event)" *ngIf="!loading" mat-table [dataSource]="products" matSort
           class="mat-elevation-z0 overflow-x-scroll table-responsive">
      <!-- User name Definition -->
      <ng-container *ngFor="let column of columns">
        <ng-container *ngIf="column.key" matColumnDef="{{column.key}}" [sticky]="column.sticky">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.label ? column.label : column.key}} </th>
          <td mat-cell *matCellDef="let row;  let index = index;">
            <ng-container *ngIf="templates && templates[column.key]; else value">
              <ng-template
                [ngTemplateOutletContext]="{row: row, index: index, updateRowConst: updateRowConst, value: row | nestedValue: column.key, selection: selection}"
                [ngTemplateOutlet]="templates[column.key]">
              </ng-template>
            </ng-container>

            <ng-template #value>
              <ng-container [ngSwitch]="column.type">

                <ng-container *ngSwitchCase="'datetime'">
                  {{row | nestedValue: column.key | date: (column.options?.format |nullishCoalesce: 'medium')}}
                </ng-container>

                <ng-container *ngSwitchCase="'currency'">
                  {{((row | nestedValue: column.key) * (column.options?.multiplier |nullishCoalesce: 1)) | currency:(column.options?.code | nullishCoalesce: 'USD')}}
                </ng-container>

                <ng-container *ngSwitchCase="'boolean'">
                  <span
                    class="material-icons">{{((row | nestedValue: column.key) | nullishCoalesce: false) ? 'done' : 'close' }}</span>
                </ng-container>

                <ng-container *ngSwitchCase="'href'">
                  <a target="_blank"
                     href="{{row | nestedValue: column.options.hrefKey}}">{{row | nestedValue: column.key}}</a>
                </ng-container>

                <ng-container *ngSwitchDefault>
                  {{row | nestedValue: column.key}}
                </ng-container>
              </ng-container>
            </ng-template>
          </td>
        </ng-container>
      </ng-container>

      <ng-container matColumnDef="bulk">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox color="primary" [disabled]="isItemCheckBoxDisabled ? isItemCheckBoxDisabled(row): false"
                        (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row['@id']) : null"
                        [checked]="selection.isSelected(row['@id'])"
                        fxFlex.lt-md="calc(100%-15px)" fxLayoutAlign.lt-md="start" fxLayoutAlign.gt-sm="left">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>actions</th>
        <td mat-cell *matCellDef="let row; let i = index;">
          <ng-container *ngFor="let action of actions">

            <ng-container [ngSwitch]="action.type">

              <gomco-edit-button class="float-left" *ngSwitchCase="'edit'" [resourcePath]="resourcePath"
                                 [row]="row"></gomco-edit-button>
              <gomco-delete-button class="pt-4" *ngSwitchCase="'delete'" (deleted)="removeRow(i, row)" [id]="row['@id']"
                                   [resource]="resource"></gomco-delete-button>
              <gomco-toggle-button *ngSwitchCase="'toggle'" [resource]="resource" [row]="row"
                                   (updated)="updateRow(i, $event)"></gomco-toggle-button>

              <ng-template [ngSwitchCase]="'template'"
                           [ngTemplateOutletContext]="{resource: resource, index: i, row: row, updateRowConst: updateRowConst}"
                           [ngTemplateOutlet]="action.template">
              </ng-template>
            </ng-container>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: visibleColumns"></tr>
    </table>
    <mat-paginator *ngIf="showNavigation" (page)="nextPageGrid($event)" [length]="total"
                   [pageSize]="params.perPage"
                   [pageIndex]="params.page - 1"
                   [pageSizeOptions]="[10, 25, 100]">
    </mat-paginator>

  </ng-template>

</div>
<!-------------Home end------------------>
<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
  <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columnsKeys"
          class="mat-menu-item">
    <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
      {{ column.label }}
    </mat-checkbox>
  </button>
</mat-menu>

<ng-template #createNewBlock>
  <a *ngIf="createNewRouteName" [routerLink]="createNewRouteName | namedRoutePipe">
    <button mat-button type="button" mat-raised-button class="text-primary" matTooltip="Add">
      <span class="material-icons">add</span> {{createButtonName}}
    </button>
  </a>
  <ng-container *ngIf="createNewDialogTemplate">
    <gomco-dialog-button
      [matConfirmDialogData]="{dialogueContent: createNewDialogTemplate, title: createButtonName, showActionButtons: false}"
      [label]="createButtonName" class="bg-white" [textColor]="'primary'" [icon]="'add'"></gomco-dialog-button>
  </ng-container>
</ng-template>
