.my-form-field .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

.my-form-field .mat-form-field {
  margin-bottom: 0px;
}

.my-form-field .mat-form-field-flex {
  padding-top: 0!important;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
  .mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
  }
  .mat-row,
  .mat-header-row {
    display: table-row;
  }
  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    line-break: unset;
    white-space: inherit;
    overflow: hidden;
    vertical-align: middle;
  }
}
@media (max-width: 639px) {
  th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type{
    padding-right: 0;
  }
}
