
<ng-template #editButtonTemplate let-row="row" let-rowIndex="index" let-updateRowConst="updateRowConst">

  <ng-template #editForm let-dialogRef="dialogRef">
    <gomco-formly-form  [multipart]="true" [model]="row" (successful)="updateRowConst(rowIndex, $event)" [subscribeRoute]="false" [dialogRef]="dialogRef"
                        [debug]="false" [fields]="fields"
                        [resource]="resource" [param]="{id: row['@id']}" [successMessage]="'Update Successfully'" [update]="true" [showDeleteButton]="false"></gomco-formly-form>
  </ng-template>


  <gomco-dialog-button
    [matConfirmDialogData]="{dialogueContent: editForm, title: 'Edit Channels', showActionButtons: false}"
    [label]="'Edit'" [textColor]="'primary'" ></gomco-dialog-button>
</ng-template>



<ng-template #createForm let-dialogRef="dialogRef">
  <gomco-formly-form [multipart]="true"  (successful)="listComponent.addRow($event)" [subscribeRoute]="false" [fields]="fields" [model]="{}"
                     [dialogRef]="dialogRef" [successMessage]="'Add  Successfully'"
                     [debug]="false"
                     [resource]="resource"></gomco-formly-form>
</ng-template>
<gomco-common-list #listComponent [filters]="fieldnams" [resourcePath]="resourcePath" [resource]="resource"
                   [showHeader]="true" [showHeading]="false" [bulk]="true" [createNewDialogTemplate]="createForm" [actions]="[{type: 'template', template: editButtonTemplate}, {type: 'delete'}]"
                   [createButtonName]="'Add Channels'" class="w-full" [columns]="columns"  >
</gomco-common-list>

