<mat-card fxLayout="column">
    <div class="mt-3" fxLayout="column" fxFlex="100%">
        <div class="forum-border">
            <p><b>User Activities</b></p>
        </div>
        <div class="forum-border" fxLayout="row">
            <div fxLayout="column" fxFlex="calc(1 0 auto)" fxLayoutAlign="center start">
                <p>Mankind Pharmacy, chandigarh added - <small>6th Jan, 2021</small> - <span
                        class="publish-btn">Published</span></p>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>edit</mat-icon>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>delete</mat-icon>
            </div>
        </div>
        <div class="forum-border" fxLayout="row">
            <div fxLayout="column" fxFlex="calc(1 0 auto)" fxLayoutAlign="center start">
                <p>You commented on "Cause behind take medicine" - <small>6th Jan, 2021</small> - <span
                        class="un-publish-btn">Under review</span></p>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>edit</mat-icon>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>delete</mat-icon>
            </div>
        </div>
        <div class="forum-border" fxLayout="row">
            <div fxLayout="column" fxFlex="calc(1 0 auto)" fxLayoutAlign="center start">
                <p>Profile picture updated - <small>6th Jan, 2021</small> - <span class="un-publish-btn">Under review</span>
                </p>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>edit</mat-icon>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>delete</mat-icon>
            </div>
        </div>
        <div class="forum-border" fxLayout="row">
            <div fxLayout="column" fxFlex="calc(1 0 auto)" fxLayoutAlign="center start">
                <p>Pharmacy description added - <small>6th Jan, 2021</small> - <span class="publish-btn">Published</span>
                </p>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>edit</mat-icon>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>delete</mat-icon>
            </div>
        </div>
    </div>
    <div class="mt-3" fxLayout="column" fxFlex="100%">
        <div class="forum-border">
            <p><b>Pharmacy Activities</b></p>
        </div>
        <div class="forum-border" fxLayout="row">
            <div fxLayout="column" fxFlex="calc(1 0 auto)" fxLayoutAlign="center start">
                <p>Mankind Pharmacy, chandigarh added - <small>6th Jan, 2021</small> - <span
                        class="publish-btn">Published</span></p>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>edit</mat-icon>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>delete</mat-icon>
            </div>
        </div>
        <div class="forum-border" fxLayout="row">
            <div fxLayout="column" fxFlex="calc(1 0 auto)" fxLayoutAlign="center start">
                <p>You commented on "Cause behind take medicine" - <small>6th Jan, 2021</small> - <span
                        class="un-publish-btn">Under review</span></p>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>edit</mat-icon>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>delete</mat-icon>
            </div>
        </div>
        <div class="forum-border" fxLayout="row">
            <div fxLayout="column" fxFlex="calc(1 0 auto)" fxLayoutAlign="center start">
                <p>Profile picture updated - <small>6th Jan, 2021</small> - <span class="un-publish-btn">Under review</span>
                </p>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>edit</mat-icon>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>delete</mat-icon>
            </div>
        </div>
        <div class="forum-border" fxLayout="row">
            <div fxLayout="column" fxFlex="calc(1 0 auto)" fxLayoutAlign="center start">
                <p>Pharmacy description added - <small>6th Jan, 2021</small> - <span class="publish-btn">Published</span>
                </p>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>edit</mat-icon>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>delete</mat-icon>
            </div>
        </div>
    </div>
    <div class="mt-3" fxLayout="column" fxFlex="100%">
        <div class="forum-border">
            <p><b>Brand Activities</b></p>
        </div>
        <div class="forum-border no-activity" fxLayout="row">
            <div fxLayout="column" fxFlex="calc(1 0 auto)" fxLayoutAlign="center start">
                <p>No activities here...</p>
            </div>
        </div>
    </div>
    <div class="mt-3" fxLayout="column" fxFlex="100%">
        <div class="forum-border">
            <p><b>Blog Activities</b></p>
        </div>
        <div class="forum-border" fxLayout="row">
            <div fxLayout="column" fxFlex="calc(1 0 auto)" fxLayoutAlign="center start">
                <p>You commented on "Cause behind take medicine" - <small>6th Jan, 2021</small> - <span
                        class="un-publish-btn">Under review</span></p>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>edit</mat-icon>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>delete</mat-icon>
            </div>
        </div>
        <div class="forum-border" fxLayout="row">
            <div fxLayout="column" fxFlex="calc(1 0 auto)" fxLayoutAlign="center start">
                <p>Profile picture updated - <small>6th Jan, 2021</small> - <span class="un-publish-btn">Under review</span>
                </p>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>edit</mat-icon>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>delete</mat-icon>
            </div>
        </div>
        <div class="forum-border" fxLayout="row">
            <div fxLayout="column" fxFlex="calc(1 0 auto)" fxLayoutAlign="center start">
                <p>Pharmacy description added - <small>6th Jan, 2021</small> - <span class="publish-btn">Published</span>
                </p>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>edit</mat-icon>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>delete</mat-icon>
            </div>
        </div>
        <div class="forum-border" fxLayout="row">
            <div fxLayout="column" fxFlex="calc(1 0 auto)" fxLayoutAlign="center start">
                <p>You commented on "Cause behind take medicine" - <small>6th Jan, 2021</small> - <span
                        class="un-publish-btn">Under review</span></p>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>edit</mat-icon>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>delete</mat-icon>
            </div>
        </div>
        <div class="forum-border" fxLayout="row">
            <div fxLayout="column" fxFlex="calc(1 0 auto)" fxLayoutAlign="center start">
                <p>Profile picture updated - <small>6th Jan, 2021</small> - <span class="un-publish-btn">Under review</span>
                </p>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>edit</mat-icon>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>delete</mat-icon>
            </div>
        </div>
        <div class="forum-border" fxLayout="row">
            <div fxLayout="column" fxFlex="calc(1 0 auto)" fxLayoutAlign="center start">
                <p>Pharmacy description added - <small>6th Jan, 2021</small> - <span class="publish-btn">Published</span>
                </p>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>edit</mat-icon>
            </div>
            <div fxFlex.lt-md="8" fxLayout="column" fxLayoutAlign="start start">
                <mat-icon>delete</mat-icon>
            </div>
        </div>
    </div>
</mat-card>
