<div [@fadeInUp]>
    <div class="text-center my-4" *ngIf="success">
        <h5>Reset Link sent</h5>
    </div>
    <ng-container *ngIf="!success">
        <div class="text-center my-4">
            <h4>Reset your password</h4>
            <p>Please enter your email address or user name associated with your account to receive a password reset link.</p>
        </div>
      <gomco-formly-form [wrapButton]="false"  label="Send reset link"  [fields]="fields"
                         [modelModifierBeforeCall]="itemModelModifierBeforeCall"
                         [resource]="resource" [successCallback]="successCallback" [buttonWidth]="'w-full'"></gomco-formly-form>
        <p class="text-center py-1 mt-4">
            <a class="link-text" [routerLink]="['/login']"> < Back to sign in</a>
        </p>
    </ng-container>

    <ng-container *ngIf="success">
        <div class="text-center my-4">
            <mat-icon color="primary" class="done-icon">check_circle_outline</mat-icon>
            <h5>Done! Please check your email</h5>
            <p>We have sent an email to your email id<br><br>Click the link in the email to reset your
                password.<br>If you don't receive the email, then click on below link<br>
                <br><button (click)="openDialog()"  class="link-text font-bold">I didn't receive the email</button></p>
        </div>
        <p class="text-center create-account pt-4">
            Already have an account?<br/>
            <a class="link-text font-bold" [routerLink]="['/login']">Sign in here</a>
        </p>
    </ng-container>
</div>

