:host {
  bottom: 0;
  display: block;
  width: 100%;
  z-index: var(--footer-z-index);
}

.footer {
  background: #f0f7f7;
  padding: 40px 0 0 0;
}

.footer li {
  margin: 8px 0;
}

.second-footer {
  background: #008494;
  margin: 30px 0 0 0;
  padding: 12px;
  color: #fff;
}

.footer-app-icon li {
  max-width: 150px;
}