<spb-back-button label="Feedback"></spb-back-button>


<h4 class="mb-5 mt-3 font-medium">Help us to improve </h4>

<p>Please let us know if you have any issue with shopping manager app</p>


<a href="{{sendEmailFeedback()}}">
  <button type="button"
          class="mat-focus-indicator mat-raised-button mat-button-base mt-5 mb-10 bg-primary text-contrast-white"
          style="margin-right: 12px;">
    <span class="mat-button-wrapper">Contact Us</span>
    <span matripple="" class="mat-ripple mat-button-ripple"></span>
    <span class="mat-button-focus-overlay"></span>
  </button>
</a>
