<div class="bg-pattern" fxLayout="column"  fxLayoutAlign="center center">
    <div class="h-auto md:min-h-screen" fxLayoutAlign="center center">
        <mat-card fxFlex="100" fxLayout="column" class="layout-section pt-6 lg:my-5" fxLayoutAlign="center center">
            <a [routerLink]="'/'">
                <div class="fill-current text-center">
                    <img class="w-24" src="assets/images/img/rxdost-logo.svg">
                </div>
            </a>
            <router-outlet></router-outlet>
        </mat-card>
    </div>
</div>
