<div fxLayout="column" class="home-main" fxLayoutAlign="space-between">

    <div fxLayout="column" fxLayoutGap="40px" class="my-5">
        <h2 fxLayoutAlign="center center" class="text-uppercase text-center">How Genericpedia Works</h2>
        <div fxLayout.lt-md="column" fxLayout.gt-sm="row wrap" fxFlex="100" fxLayoutGap="10px">
            <div fxFlex.gt-sm="calc(100%/3-10px)">
                <mat-card-content fxLayout="row" fxLayoutGap="15px" class="mat-card-how-works">
                    <div fxLayout="column" fxFlex="25" class="how-works-img">
                        <img src="../assets/images/img/prescription.webp" alt="Photo">
                    </div>
                    <div fxLayout="column" fxFlex="75" fxLayoutGap="10px">
                        <h6><b>1. Get medicine prescription</b></h6>
                        <p>Ask your doctor to write the generic name along with the brand name on your
                            prescription.</p>
                    </div>
                </mat-card-content>
            </div>
            <div fxFlex.gt-sm="calc(100%/3-10px)">
                <mat-card-content fxLayout="row" fxLayoutGap="15px" class="how-works-section">
                    <div fxLayout="column" fxFlex="25" class="how-works-img">
                        <img src="../assets/images/img/search.webp" alt="Photo">
                    </div>
                    <div fxLayout="column" fxFlex="75" fxLayoutGap="10px">
                        <h6><b>2. Search on Genericpedia</b></h6>
                        <p>Search on Genericpedia with brand name or generic name to find best quality medicine at
                            best cost.</p>
                    </div>
                </mat-card-content>
            </div>
            <div fxFlex.gt-sm="calc(100%/3-10px)">
                <mat-card-content fxLayout="row" fxLayoutGap="15px" class="how-works-section">
                    <div fxLayout="column" fxFlex="25" class="how-works-img">
                        <img src="../assets/images/img/pharmacy.webp" alt="Photo">
                    </div>
                    <div fxLayout="column" fxFlex="75" fxLayoutGap="10px">
                        <h6><b>3. Find and visit</b></h6>
                        <p>Find the location of the nearest pharmacy on genericpedia and visit to buy the
                            medicine.</p>
                    </div>
                </mat-card-content>
            </div>
        </div>
    </div>
    <!--<mat-divider></mat-divider>-->
<!--    <div fxLayout="column" class="mb-5">-->
<!--        &lt;!&ndash;<h2 fxLayoutAlign="center center" class="text-uppercase">India's largest healthcare platform</h2>&ndash;&gt;-->
<!--        <div fxLayout.lt-md="column" fxLayout.gt-sm="row wrap" fxFlex="100" fxLayoutGap="10px">-->
<!--            <div fxLayout="column" class="box-style" fxFlex.gt-sm="calc(100%/3-10px)" fxLayoutAlign="center center">-->
<!--                <h1>150M+</h1>-->
<!--                <h6>Visitors</h6>-->
<!--            </div>-->
<!--            <div fxLayout="column" class="box-style" fxFlex.gt-sm="calc(100%/3-10px)" fxLayoutAlign="center center">-->
<!--                <h1>25M+</h1>-->
<!--                <h6>Orders Delivered</h6>-->
<!--            </div>-->
<!--            <div fxLayout="column" class="box-style" fxFlex.gt-sm="calc(100%/3-10px)" fxLayoutAlign="center center">-->
<!--                <h1>1000+</h1>-->
<!--                <h6>Cities</h6>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <mat-divider></mat-divider>

    <!------App Icon Section-------->
    <div fxLayout="column" fxLayoutAlign="center center" class="home-app-section my-5">
        <h2 class="text-uppercase">Join Us on Mobile!</h2>
        <p>Download RxDost app to stay updated and get in touch right from your phone.</p>
        <div class="mt-5" fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center"
             fxLayoutGap="10px">
            <div class="home-app-icons"><img src="assets/images/img/apple.png" alt="app icon"></div>
            <div class="home-app-icons"><img src="assets/images/img/google.png" alt="app icon"></div>
        </div>
    </div>
</div>
