<spb-back-button label="General"></spb-back-button>

<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card fxLayout="row">
    <div fxLayout="column" fxFlex="40" fxHide.lt-md="true">
      <img src="assets/images/img/change-password.jpg" alt="password">
    </div>
    <div fxLayout="column" fxFlex.gt-md="60" class="md:p-5">
      <gomco-formly-form  [multipart]="true" [update]="true"  [subscribeRoute]="false" [param]="{id: 'me'}" [reset]="false"
                         [resource]="'myprofile'" [showButton]="false"
                         formClass="" fxLayoutDir="column" [showDeleteButton]="false" [fields]="fields"></gomco-formly-form>


    </div>
  </mat-card>
</div>
