<div fxLayout="column" fxLayoutGap="30px" class="container pb-8 pt-8">

  <h1 class="text-center text-2xl mb-3">Contact Us</h1>

  <div>
    Our comprehensive Help & FAQs section might have the answer you are looking for.<br><br>
    If not then please complete reach out Our Customer Support Team at <a class="text-primary" href="mailto:shoppingmanager@smartparcelbox.com">shoppingmanager@smartparcelbox.com</a><br><br>

    Please <a href="https://www.smartparcelbox.co.uk/contact-us" class="text-primary" target="_blank">click here</a> If you would like to contact the Smart Parcel Box support team<br><br>
    *Our Customer Support Team work between 9am and 5pm Monday to Friday and will respond within 24hrs (excluding weekends).

  </div>

</div>
