<div fxLayout="column" fxLayoutGap="30px" class="container pb-8 pt-8">

  <h1 class="text-center text-2xl mb-3">Supported Couriers</h1>

  <div>Installed in over 30,000 homes and businesses, Smart Parcel Box is the UK’s leading delivery box solution.
    Established in 2015 and designed in the UK, the range includes an exclusive collection of secure delivery boxes
    suitable for all needs in a choice of colours and sizes. Smart Parcel Box is brought to you by Homescapes, a leading
    and well-respected British online retailer of top-quality homeware
  </div>

</div>
