<div fxLayout="column" fxLayoutGap="40px" class="container pb-8 pt-8">

  <h1 class="text-center text-2xl mb-3">Buy Smart Parcel Box</h1>

  <div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" class="text-center" fxLayoutAlign="space-between center">
      <div fxLayout="column" fxLayoutGap="10px" >
        <img src="assets/images/buy-parcel/M-blue.jpg">
        <h3>Lift Top Delivery</h3>
        <p>Max Parcel Size <br> 320 x 205 x 120 mm</p>
      </div>
      <div fxLayout="column" fxLayoutGap="10px" >
        <img src="assets/images/buy-parcel/Large-Front-Rear-Grey.jpg">
        <h3>Front and Rear Retrieval</h3>
        <p>Max Parcel Size <br>
          330 x 280 x 255 mm</p>
      </div>
      <div fxLayout="column" fxLayoutGap="10px" >
        <img src="assets/images/buy-parcel/Large-Front-Rear-Green.jpg">
        <h3>Front and Rear Retrieval</h3>
        <p>Max Parcel Size <br>
          450 x 340 x 260 mm</p>
      </div>
      <div fxLayout="column" fxLayoutGap="10px" >
        <img src="assets/images/buy-parcel/Large-Curve-Dark-Grey.jpg">
        <h3>Front Retrieval Only</h3>
        <p>Max Parcel Size <br>
          330 x 280 x 255 mm</p>
      </div>
      <div fxLayout="column" fxLayoutGap="10px" >
        <img src="assets/images/buy-parcel/Extra-Large-Slanted.jpg">
        <h3>Front Retrieval Only</h3>
        <p>Max Parcel Size <br>
          380 x 390 x 280 mm</p>
      </div>
    </div>
  </div>

</div>
