<div [@fadeInUp]>
    <div class="text-center my-4" *ngIf="success">
        <h5>Reset Link sent</h5>
    </div>
    <ng-container *ngIf="!success">
        <div class="text-center my-4">
            <h5>Reset Password</h5>
            <p>Please enter your email address or user name
              associated with your account to receive a password reset link</p>
        </div>
        <gomco-formly-form [successCallback]="successCallback" [wrapButton]="false" label="SEND RECOVERY LINK"
                           [fields]="fields" resource="forgotpassword"></gomco-formly-form>
        <p class="text-center py-1 mt-4">
            Don't have an account?<br/>
            <a class="link-text font-bold" [routerLink]="['/register']">Create an account</a>
        </p>
    </ng-container>

    <ng-container *ngIf="success">
        <div class="text-center my-4">
            <mat-icon color="primary" class="done-icon">check_circle_outline</mat-icon>
            <h5>Done! Please check your email</h5>
            <p>We have sent an email to your email id<br><br>Click the link in the email to reset your
                password.<br>If you don't receive the email, then click on below link<br>
                <br><a href="#" class="link-text font-bold">I didn't receive the email</a></p>
        </div>
        <p class="text-center create-account pt-4">
            Already have an account?<br/>
            <a class="link-text font-bold" [routerLink]="['/login']">Sign in here</a>
        </p>
    </ng-container>
</div>

