<div fxLayout="column" fxLayoutGap="30px" class="container pb-8 pt-8">

  <h1 class="text-center text-2xl mb-3">Order Tracking</h1>

  <div>
    <h3 class="text-xl mb-2">How to track your order journey</h3>
    <p>Each Smart Parcel Box is supplied with and identified by a unique barcode. Registering your box helps to assign a
      specific geographic coordinate to your parcel box. This means that your unique SmartParcel Box is an identifier of
      your address. </p>
  </div>
  <p>This geographical coordinate linked unique code is designed to be used by postal workers and courier companies to
    ascertain that the delivery has been made to the correct address. Upon acceptance of a courier company and retailer,
    this will act as a substitute for your signatures.</p>
  <p>By registering the Smart Parcel Box, the owner of the Smart Parcel Box also indemnifies the courier company from
    handing over the package personally to an individual at the address and authorises them to deliver the parcel to the
    Smart Parcel Box instead.
  </p>
  <p>Some delivery services may require your signature for special signed for deliveries, we would still recommend
    registration of your Smart Parcel Box so that you are not left out of future seamless service once the courier
    company / retailer have signed up for accepting your unique code as a digital equivalent of your signature for
    signed for deliveries.</p>
  <p>Also, should you need to replace the barcode or change your address for any reason, you can easily make these
    changes if your parcel box has been registered by the original owner. </p>

  <div>
    <h3 class="text-xl mb-2">How to register your Smart Parcel Box</h3>
    <p> The first step is to have an account on this website. If you have an account then please login, if not then
      please create an account. Once logged into your account, you will have the option to register or to make changes
      to your registration details. </p>
  </div>

</div>
