<p>Shopping Manager is a smart app designed to manage your online shopping efficiently and effortlessly. It’s brought
  to you by the Smart Parcel Box, a leading parcel drop box brand in the UK with over 30000 in use of Smart Parcel Boxes
  in the UK and Europe.</p>

<h3 class="mt-5 mb-2">Why this App?</h3>
<p>Initially the app was meant to track parcels for the customers of the Smart Parcel Box and to instruct the couriers
  to
  deliver their orders to the smart parcel box installed at their home/ business. The idea quickly got evolved into a
  much more comprehensive concept of management of online shopping of all users.
  People are buying a lot more online now to an extent that its difficult to keep track of what’s been ordered, from
  where and whether or not the parcel has been received or not. Its important for consumers to be able to stay on top of
  their orders (deliveries) much more now as the volume of online orders has increased a lot and it’s easy to miss if
  you haven’t received an order amongst many.</p>
<p>
  Delivery is another issue; we keep waiting for deliveries and plan our days around the deliveries. The Smart Parcel
  Box was created to help solving that problem, so that people don’t have to wait all day for deliveries and the
  couriers have something secure to leave the deliveries in. Now with the Shopping Manager app, they also get a live
  information of all their orders in one place.
  Returns and Refunds is a major point of conflict between the buyers and sellers. This app helps you to track your
  returns and help chase the retailer for refunds. You can communicate very easily with all retailers from one place.
  This app takes away a lot of stress associated with online shopping and helps you to organise it and staying in
  control.</p>

<h3 class="mt-5 mb-2">Who’s behind this App?</h3>
<p>This app has been designed and developed in the UK by professionals behind the group which owns the Smart Parcel Box.
  Established over twenty-one years, the company has its heart in the world of online retailing and ecommerce in the UK
  and Europe. The app benefits from all the commercial insights and experience of dealing with millions of consumers in
  the UK and Europe. This will directly help in improving the functionality of the app, the user experience and the
  usefulness of this app making it your everyday assistant for smooth online shopping.</p>




