<!--slider-->

<div class="container-fluid bg-slider">
  <div fxLayout="row" class="container" fxLayoutAlign="space-between center">
    <div fxLayout="column" fxFlex="60" fxFlex.xs="100" class="pt-14 pb-14 md:pt-24 md:pb-24 lg:pt-48 lg:pb-48"
         fxLayoutGap="15px">
      <h1 class="text-white">Welcome to the Shopping Manager</h1>
      <p class="text-white text-base">The smartest way to stay on top of all your online shopping. <br>Brought to you by
        the Smart
        Parcel Box

      </p>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" class="mt-8">
        <button>
          <img class="h-12" src="./assets/images/google-store-icon.png">
        </button>
        <button>
          <img class="h-12" src="./assets/images/web-icon.png">
        </button>
      </div>

    </div>

    <div fxHide.lt-sm>
      <img class="mx-auto" src="assets/images/mobile-shop.png">
    </div>
  </div>
</div>

<!--highlight points-->
<div class="container pt-14 pb-14 md:pt-20 md:pb-20" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"
     fxLayoutGap="20px">
  <div fxLayoutGap="10px" fxLayout="column">
    <h3 class="text-lg">Manage Online Shopping</h3>
    <p class="text-sm text-secondary">With all your orders in one place its easy to see what you’ve bought, delivered,
      returned and refunded
    </p>
  </div>
  <div fxLayoutGap="10px" fxLayout="column">
    <h3 class="text-lg">Track your Deliveries</h3>
    <p class="text-sm text-secondary">Live tracking of most popular courier provides up to the minute status of your
      orders and deliveries


    </p>
  </div>
  <div fxLayoutGap="10px" fxLayout="column">
    <h3 class="text-lg">Manage Returns & Refunds
    </h3>
    <p class=" text-sm text-secondary">Scan and track all your returns and chase the retailers to ensure a timely refund
      of your returns
    </p>
  </div>
  <div fxLayoutGap="10px" fxLayout="column">
    <h3 class="text-lg ">By Smart Parcel Box</h3>
    <p class="text-sm text-secondary">A very clever and useful solution to manage your online shopping by Smart Parcel
      Box, the largest parcel drop box brand in the UK and Europe
    </p>
  </div>
</div>

<!--key features-->
<div class="container-fluid bg-gray-light">
  <div class="container pt-14 pb-14 md:pt-20 md:pb-20" fxLayout="column" fxLayoutGap="50px">
    <div class="text-center">
      <h2 class="text-3xl mb-5 ">Key Features – Smart Online Shopping</h2>
      <p class="text-secondary text-base md:text-lg">Take a complete control of your online shopping with some of these
        key features of the Shopping Manager app by the Smart Parcel Box
        magna.</p>
    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="30px" class="row">

      <div fxLayout="column" fxFlex="33" class="text-center col-xl-4" fxLayoutGap="10px">
        <img class="w-24 mx-auto" src="assets/images/features/Orders-Details.png">
        <h3 class="text-xl">Maintain Orders Detail </h3>
        <p class="text-sm text-secondary">Record all details of your shopping in one place. Connect store orders are
          auto imported, but you could input and keep detailed record of all your shopping from all stores.</p>

      </div>

      <div fxLayout="column" fxFlex="33" class="text-center col-xl-4" fxLayoutGap="10px">
        <img class="w-24 mx-auto" src="assets/images/features/Instruct-Couriers.png">
        <h3 class="text-xl">Give Delivery Instructions </h3>
        <p class="text-sm text-secondary">Just one click instructs the courier and your retailer to deliver to you Smart
          Parcel Box. They get instructions, location and picture of your Smart Parcel Box </p>

      </div>

      <div fxLayout="column" fxFlex="33" class="text-center col-xl-4" fxLayoutGap="10px">
        <img class="w-24 mx-auto" src="assets/images/features/Live-Courier-Tracking.png">
        <h3 class="text-xl">Live courier tracking</h3>
        <p class="text-sm text-secondary">Monitor live status of your package from most popular couriers. No more
          depending on mails or notifications from separate retailers and couriers </p>

      </div>

    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="30px">

      <div fxLayout="column" fxFlex="33" class="text-center" fxLayoutGap="10px">
        <img class="w-24 mx-auto" src="assets/images/features/Manage-Order-Status.png">
        <h3 class="text-xl">Manage Order Status </h3>
        <p class="text-sm text-secondary">The orders status is clearly displayed and can be managed by the users. The
          Orders can be searched and also be sorted on the basis of their status.</p>

      </div>

      <div fxLayout="column" fxFlex="33" class="text-center" fxLayoutGap="10px">
        <img class="w-24 mx-auto" src="assets/images/features/return-scaan.png">
        <h3 class="text-xl">Track Returns & Refunds</h3>
        <p class="text-sm text-secondary">Scan the return package shipping label and get live tracking information. This
          allows you to chase retailers for refund with a one click refund mails which can be personalised by you. </p>

      </div>

      <div fxLayout="column" fxFlex="33" class="text-center" fxLayoutGap="10px">
        <img class="w-24 mx-auto" src="assets/images/features/share-access-with-family.png">
        <h3 class="text-xl">Share Access with Family
        </h3>
        <p class="text-sm text-secondary">Keep orders of the whole family together in one place and track their
          deliveries in one place. No more looking for details on various phones, laptops and computers.</p>

      </div>


    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="30px">

      <div fxLayout="column" fxFlex="33" class="text-center" fxLayoutGap="10px">
        <img class="w-24 mx-auto" src="assets/images/features/Communicate-with-Retailers.png">
        <h3 class="text-xl">Efficient Communication</h3>
        <p class="text-sm text-secondary">Save time by sending mails to the retailers or couriers with all order details
          using your favourite mailing service on your phone with just one click</p>

      </div>

      <div fxLayout="column" fxFlex="33" class="text-center" fxLayoutGap="10px">
        <img class="w-24 mx-auto" src="assets/images/features/spb.png">
        <h3 class="text-xl">Manage Smart Parcel Box </h3>
        <p class="text-sm text-secondary">Your Smart Parcel Box can now be registered on the App to help couriers know
          its location. Details can be edited and the app helps to notify couriers too</p>

      </div>

      <div fxLayout="column" fxFlex="33" class="text-center" fxLayoutGap="10px">
        <img class="w-24 mx-auto" src="assets/images/features/Available-all-devices.png">
        <h3 class="text-xl">On All your Devices
        </h3>
        <p class="text-sm text-secondary">Convenience of managing of your online shopping on your phone, tablet and
          desktop with ease. This app helps you to take complete control of your online shopping</p>

      </div>

    </div>
  </div>
</div>

<!--Tracking linked couriers-->
<div class="container pt-14 pb-14 md:pt-20 md:pb-20" fxLayout="column" fxLayoutGap="50px">
  <div class="text-center">
    <h2 class="text-3xl mb-5 ">Track your orders – No more delivery anxiety</h2>
    <p class="text-secondary text-base md:text-lg">Live tracking and update for these popular couriers, know up to the
      minute status of all your orders delivered from these couriers
    </p>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" fxLayoutGap="60px" fxLayoutAlign="center center">

    <div fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="space-between center">
      <img class="w-24" src="./assets/images/courier/dpd.png">
      <img class="w-24" src="./assets/images/courier/yodel.png">
    </div>
    <div fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="space-between center">
      <img class="w-24" src="./assets/images/courier/ups.png">
      <img class="w-24" src="./assets/images/courier/usps.png">
    </div>
    <div fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="space-between center">
      <img class="w-24" src="./assets/images/courier/fedex-uk.png">
      <img class="w-24" src="./assets/images/courier/hermes.png">
    </div>
    <div fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="space-between center">
      <img class="w-24" src="./assets/images/courier/dhl.png">
    </div>


  </div>
</div>

<!--Tracking unlinked couriers-->
<div class="container" fxLayout="column" fxLayoutGap="50px">
  <div class="text-center">
    <p class="text-secondary text-base md:text-lg"> Track your orders shipped through these couriers and update the
      status of your orders

    </p>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" fxLayoutGap="60px" fxLayoutAlign="center center">

    <div fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="space-between center">
      <img class="w-24" src="./assets/images/courier/gls.png">
      <img class="w-24" src="./assets/images/courier/parcel-force.png">
    </div>
    <div fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="space-between center">
      <img class="w-24" src="./assets/images/courier/royal-mail.png">
      <img class="w-24" src="./assets/images/courier/uk-mail.png">
    </div>

    <div fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="space-between center">
      <img class="w-24" src="./assets/images/courier/TNT-Reference.png">
    </div>


  </div>

</div>

<!--Tracking top retailer-->
<div class="container pt-14 pb-14 md:pt-20 md:pb-20" fxLayout="column" fxLayoutGap="50px">
  <div class="text-center">
    <h2 class="text-3xl mb-5 "> Track & Manage Orders of Your Favourite Stores</h2>
    <p class="text-secondary text-base md:text-lg">You may choose to buy from any of your favourite stores, its very
      easy to keep all your orders in shopping manager and then manage your orders. Easily communicate with the
      retailers, manage returns and track your returns and follow up on refunds. This list below is not comprehensive,
      any retailer which uses a regular courier service can be tracked by shopping manager.
    </p>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" fxLayoutGap="60px" fxLayoutAlign="center center">

    <div fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="space-between center">
      <img class="w-24" src="./assets/images/courier/retailerlogo/hs.png">
      <img class="w-24" src="./assets/images/courier/retailerlogo/SPB.png">
    </div>
    <div fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="space-between center">
      <img class="w-24" src="./assets/images/courier/retailerlogo/ASDA.png">
      <img class="w-24" src="./assets/images/courier/retailerlogo/ASOS.png">
    </div>
    <div fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="space-between center">
      <img class="w-24" src="./assets/images/courier/retailerlogo/Argos.png">
      <img class="w-24" src="./assets/images/courier/retailerlogo/The-Range.png">
    </div>
    <div fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="space-between center">
      <img class="w-24" src="./assets/images/courier/retailerlogo/Next-plc.png">
    </div>


  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" fxLayoutGap="60px" fxLayoutAlign="center center">

    <div fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="space-between center">
      <img class="w-24" src="./assets/images/courier/retailerlogo/adidas.png">
      <img class="w-24" src="./assets/images/courier/retailerlogo/boots.png">
    </div>
    <div fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="space-between center">
      <img class="w-24" src="./assets/images/courier/retailerlogo/h&m.png">
      <img class="w-24" src="./assets/images/courier/retailerlogo/B&Q.png">
    </div>
    <div fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="space-between center">
      <img class="w-24" src="./assets/images/courier/retailerlogo/jd-sport.png">
      <img class="w-24" src="./assets/images/courier/retailerlogo/Wilko.png">
    </div>
    <div fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="space-between center">
      <img class="w-24" src="./assets/images/courier/retailerlogo/PRIMARK.png">
    </div>


  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" fxLayoutGap="60px" fxLayoutAlign="center center">

    <div fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="space-between center">
      <img class="w-24" src="./assets/images/courier/retailerlogo/Marks-&-Spencer.png">
      <img class="w-24" src="./assets/images/courier/retailerlogo/Debenhams.png">
    </div>
    <div fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="space-between center">
      <img class="w-24" src="./assets/images/courier/retailerlogo/Farfetch.png">
      <img class="w-24" src="./assets/images/courier/retailerlogo/House-of-Fraser.png">
    </div>
    <div fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="space-between center">
      <img class="w-24" src="./assets/images/courier/retailerlogo/IKEA.png">
      <img class="w-24" src="./assets/images/courier/retailerlogo/Dunelm-Group.png">
    </div>
    <div fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="space-between center">
      <img class="w-24" src="./assets/images/courier/retailerlogo/John-Lewis-&-Partners.png">
    </div>


  </div>

  <div class="text-center">
    <p class="text-secondary text-base md:text-lg">+more</p>
    <p class="text-secondary text-base md:text-lg">Orders & returns from stores integrated with Shopping Manager are
      automatically stored and tracked in the app and you can manage their returns as well. For the stores
      Not linked yet, orders and returns can still be managed manually by the users. Either way, stay on top of all your
      online shopping.

    </p>
    <p class="text-secondary text-xs mt-4 md:text-xs">*All the logos of the couriers and the retailers is their own
      intellectual property; these are shown here for an ease of understanding of the app user and to state that the
      shopping manager app can be used to track or manage the orders linked to these companies. No relationship or
      association is claimed with any of the companies whose logos have been displayed here.
    </p>
  </div>
</div>


<!--devices-->

<div class="container-fluid bg-gray-light">
  <div class="container pt-14 pb-14 md:pt-24 md:pb-24" fxLayout="column" fxLayoutGap="50px">
    <div class="text-center">
      <h2 class="text-3xl mb-5 ">Available on all your devices</h2>
      <p class="text-secondary text-base md:text-lg">A progressive app, which will sync between all your devices,
        whether its an android system, PC or an iPhone or iPad. You can use
        Any of these devices to stay on top of your online shopping.
      </p>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="60px"
         fxLayoutAlign="space-evenly center">
      <div>
        <img class="w-full mx-auto" src="./assets/images/dashboard.png">
      </div>
      <div fxLayout="column" fxLayoutGap="20px" class="text-left">
        <h3 class="text-2xl">What are you waiting for?</h3>
        <p class="text-base text-secondary">
          Simple, nice and user-friendly application for this demo.
          Just download the app from the App Store.
        </p>
        <div fxLayout="row" fxLayoutGap="20px">
          <img class="h-12" src="./assets/images/google-store-icon.png">
          <img class="h-12" src="./assets/images/web-icon.png">
        </div>
      </div>

    </div>
  </div>
</div>
