

<mat-card class="mb-4">
  <a [routerLink]="'admin_faqs' | namedRoutePipe" fxLayout="row" fxLayoutAlign="space-between center">
    <h5>Frequently Asked Questions</h5>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </a>
</mat-card>



<mat-card class="mb-4">
  <a [routerLink]="'admin_about-us' | namedRoutePipe" fxLayout="row" fxLayoutAlign="space-between center">
    <h5>About</h5>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </a>
</mat-card>

<mat-card class="mb-4">
  <a [routerLink]="'/admin/pages/detail/terms-and-condtions'" fxLayout="row" fxLayoutAlign="space-between center">
    <h5>Terms & Conditions</h5>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </a>
</mat-card>

<mat-card class="mb-4">
  <a [routerLink]="'/admin/pages/detail/privacy-policy'" fxLayout="row" fxLayoutAlign="space-between center">
    <h5>Privacy Policy</h5>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </a>
</mat-card>

<mat-card class="mb-4">
  <a [routerLink]="'/admin/helpfeedback/list'" fxLayout="row" fxLayoutAlign="space-between center">
    <h5>Feedback</h5>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </a>
</mat-card>
